<!DOCTYPE html>
<html ng-app="LunchCheck">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles.css">
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
        <title>Module 1 Solution</title>
    </head>
    <body ng-controller="LunchCheckController">
        <h4>Module 1 Solution</h4>
        <br>
        <input type="text" ng-model="eatItems" />
        <br>
        {{message}}
        <br>
        <button ng-click="checkIfTooMuch();">Check If Too Much</button>

    </body>
</html>
