<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script type="text/javascript" src="src/angular.min.js"></script>
    <script type="text/javascript" src="src/app.js"></script>
  </head>
<body ng-controller="NarrowItDownController as ctrl">
   <div class="container">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" 
             placeholder="search term"
             class="form-control" 
             ng-model="ctrl.searchTerm">
    </div>

    <div class="form-group narrow-button">
      <button class="btn btn-primary"
              ng-click="ctrl.getMatchedMenuItems(ctrl.searchTerm);">
              Narrow It Down For Me!
      </button>
    </div>

    <found-items
        items="ctrl.matchList"
        on-remove="ctrl.removeMatch(index);"
        no-item="ctrl.matchList">
    </found-items>
  </div>
</body>
</html>